*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
nav {
    /* margin-right: 20px; */
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    height: 70px;
     box-shadow: 0px 4px 1px #000000;
     position: fixed;
     z-index: 10;
     
    }
    
    .logo{
        margin-top: 17px;
        border-bottom: 2px solid #333333;
    }
    img{height: 80px;
        width: 90px;

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    
}
ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600px;
}

ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #a65dea;
    color: #ab6de5;
}

.first{
    padding-top: 150px;
    margin-left: 50px;
}
.heading_first{
    color: #fff;
}
.heading{
    color: #8919f2;
}
.real_form{
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
}
.form{
    background-color: #0b0b0b;
    height: 540px;
    width: 400px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 15px;
   
}
.contact{
     display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.contact label{
    color: #fff;
    margin-top: 30px;
    margin-left: 40px;
    /* display: flex; */
    /* justify-content: center; */
}
.contact input{
    margin-left: 40px;
    margin-top: 10px;
    color: #000;
    background-color: #fff;
    width: 200px;
    height: 30px;
border-color: #fff;
border-radius: 3px;
padding-left: 5px;


}
select{
    width: 200px;
    padding-left: 5px;
    margin-left: 40px;
    margin-top: 10px;
    height: 30px;
    border-radius: 3px;
}
textarea{
    width: 300px;
    height: 100px;
    margin-left: 40px;
    margin-top: 10px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
}
input[type="button"]{
    margin-top: 40px;
    background-color: #8919f2;
    color: white;
    padding-top: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
}
.form1{
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
}
.form1 h1{
    color: #fff;
    margin-top: 20px;
}

.form1 p{
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
}

 img{height: 80px;
        width: 90px;

}
hr{
    margin-top: 30px;
    border: 1.5px solid #0b0b0b;
}
.footer{
    margin-top: 50px;
    background-color:#0b0b0b;
    padding:60px 80px;
}

.footer-container{
    background-color:#0b0b0b;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
}

.footer-column h3{
    /* background:#480d7f; */
    margin-bottom:20px;
    font-size:24px;
    color: rgb(121, 50, 228);
}

.footer-column a{
    background:#0b0b0b;
    display:block;
    text-decoration:none;
    color:#fff;
    margin-bottom:15px;
    font-size:18px;
    transition:0.3s;
}
.footer-column a:hover{
    text-decoration: underline;
    color: rgb(121, 50, 228);
}
.last_footer{
     display:flex;
    align-items:center;
    flex-direction: row;
    /* justify-content: flex-end; */
}
.social-icons{
    display:flex;
    /* align-items:center; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    margin-left: auto;
    margin-right: 40px;
    gap:20px;
    font-size:22px;
}

.social-icons i{
    justify-content: flex-end;
    display: flex;
    cursor:pointer;
    transition:0.3s;
    color: white;
}

.social-icons i:hover{
    color:#8919f2; /* Fiverr Green */
}