*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#000000 ;

}
nav {
    /* margin-right: 20px; */
    /* margin-top: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    height: 70px;
     box-shadow: 0px 4px 1px #000000;
     position: fixed;
     
    }
    
    .logo{
        margin-top: 17px;
        border-bottom: 2px solid #333333;
    }
    img{height: 80px;
        width: 90px;

}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    
}
ul li {
    list-style: none;
    font-size: 20px;
    margin-right: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600px;
}
ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #a65dea;
    color: #ab6de5;
}

.join{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    /* margin-top: 200px; */
    margin-bottom: 130px;
}
.join_work{
    width: 80%;
    height: 220px;
    background-color: rgb(85, 16, 187);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.join_p{
    color: #fff;
    margin-top: 15px;
    margin-left: 380px;
    font-size: 25px;
}
.join_work_luba{
    color: #fff;
    margin-top: 20px;
    
    /* background-color: #0b0b0b; */
    font-size: 45px;
    margin-left: 400px;
    /* line-height: 65px; */
}
.btn{
    background-color:#171717;
    color: white;
    font-weight: 540;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 30px;
    margin-left: 43%;
    border-radius: 5px;
}
.design{
    color: #fff;
    margin-left: 130px;
}
.category{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    margin-top: 50px;
    margin-left: 110px;
    justify-content: space-around;
}
.box{
    background-color:rgb(85, 16, 187) ;
    height: 80px;
    width: 170px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 17px;
}
.explore{
    color: #fff;
    margin-left: 130px;
    margin-top: 80px;
}

.graphics-section{
    width: 90%;
    margin: 50px 120px;
}

.graphics-section h2{
    color: white;
    margin-bottom: 30px;
}

.graphics-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.category-card img{
    width: 80%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

.category-card h3{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.category-card ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-card li{
    color: #bdbdbd;
    margin: 8px 0;
    list-style: none;
}


.footer{
    margin-top: 150px;
    background-color:#0b0b0b;
    padding:60px 80px;
}

.footer-container{
    background-color:#0b0b0b;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
    margin-left: 60px;
}

.footer-column h3{
    /* background:#480d7f; */
    margin-bottom:20px;
    font-size:24px;
    color: rgb(121, 50, 228);
}

.footer-column a{
    background:#0b0b0b;
    display:block;
    text-decoration:none;
    color:#fff;
    margin-bottom:15px;
    font-size:18px;
    transition:0.3s;
}
.footer-column a:hover{
    text-decoration: underline;
    color: rgb(121, 50, 228);
}
.last_footer{
     display:flex;
    align-items:center;
    flex-direction: row;
    /* justify-content: flex-end; */
}
.social-icons{
    display:flex;
    /* align-items:center; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    margin-left: auto;
    margin-right: 40px;
    gap:20px;
    font-size:22px;
}

.social-icons i{
    justify-content: flex-end;
    display: flex;
    cursor:pointer;
    transition:0.3s;
    color: white;
}

.social-icons i:hover{
    color:#8919f2; /* Fiverr Green */
}